@import '../../../styles/variables.scss';

.named_grid_wrapper {
  padding: 0 0 $margin-large-3 0;

  > h1 {
    text-align: center;
  }

  > article {
    > h3 {
      margin-left: $margin-large-2;
      text-transform: capitalize;
    }

    .cards_wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
