@import '../../styles/variables.scss';

.card_carousel {
  display: flex;
  flex-direction: column;

  background: $color-secondary;
  height: 240px;
  margin-bottom: $margin-large-2;

  border-radius: $border-radius;
  box-shadow: 0px 1px 4px 0px $color-primary-1;
  outline: none;
  position: relative;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 20px 0px $color-primary-1;
  }

  .image_wrapper {
    height: 200px;
    overflow: hidden;
    border-radius: $border-radius;
  }

  .title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 $margin-large-2;

    > a {
      font-size: $font-medium-1;
      text-decoration: none;
      color: $color-primary;
    }

    .price {
      font-size: $font-medium-1;
      text-decoration: none;
      color: $color-primary;
    }
  }
}
