@import '../../../styles/variables.scss';

.grid_wrapper {
  padding: 0 $margin-large-3 $margin-large-3 $margin-large-3;

  > h1 {
    text-align: center;
  }

  .cards_wrapper {
    display: flex;
    flex-wrap: wrap;

    &.fullWrap {
      justify-content: space-between;

      > div {
        margin-right: 5px;
      }
    }
  }
}
