@import '../../../styles/variables.scss';

.item_wrapper {
  padding: $margin-large-3 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .item_body {
    width: 100%;
    display: flex;
    justify-content: center;

    .description_block {
      width: 30%;
      padding: 10px 30px;

      text-decoration: none;
      color: $color-primary;
      line-height: 30px;

      .name {
        font-size: $font-large-2;
        font-weight: bold;
      }

      .code {
        font-size: $font-medium-1;
        color: $color-primary-1;
        margin-bottom: 20px;
      }

      .price {
        font-size: $font-large-1;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .description {
        margin-top: 20px;
        font-size: $font-medium-1;
      }
    }
  }
}
