@import '../../../styles/variables.scss';

$arrow_button_size: 60px;

.item_wrapper {
  padding: $margin-large-3 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .item_body {
    width: 100%;
    display: flex;
    justify-content: center;

    .image_container {
      width: 600px;
      height: 600px;
      flex-shrink: 0;
      margin-right: $margin-large-3;

      .image_wrapper {
        background: $color-primary-4;
        padding: $margin-small-1;
        cursor: pointer;
      }

      .images_select_container_wrapper {
        position: relative;

        .images_select_container {
          width: 100%;
          overflow: auto;

          .images_select {
            height: 140px;
            width: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .images_select_item {
              height: 100px;
              width: 180px;

              margin: 0 20px;
              flex-shrink: 0;
              user-select: none;

              cursor: pointer;
              border-radius: 10px;
              overflow: hidden;

              &:hover {
                box-shadow: 0px 1px 4px 0px $color-primary-1;
              }
            }
          }
        }
        .right_arrow,
        .left_arrow {
          position: absolute;

          width: $arrow_button_size;
          height: $arrow_button_size;
          top: calc(50% - #{$arrow_button_size / 2});

          box-shadow: 0px 1px 4px 0px $color-primary-1;
          border-radius: 100%;

          background: $color-secondary;
          background-size: 30px;
          background-repeat: no-repeat;
          background-position: center;

          cursor: pointer;

          &:hover {
            box-shadow: 0px 2px 15px 0px $color-primary-1;
          }
        }

        .right_arrow {
          left: 100%;
          background-image: url('/assets/icons/arrow_right.svg');
        }

        .left_arrow {
          left: -$arrow_button_size;
          background-image: url('/assets/icons/arrow_left.svg');
        }
      }
    }

    .description_block {
      width: 30%;
      padding: 10px 30px;

      text-decoration: none;
      color: $color-primary;
      line-height: 30px;

      .name {
        font-size: $font-large-2;
        font-weight: bold;
      }

      .code {
        font-size: $font-medium-1;
        color: $color-primary-1;
        margin-bottom: 20px;
      }

      .price {
        font-size: $font-large-1;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .description {
        margin-top: 20px;
        font-size: $font-medium-1;
      }
    }
  }
}
